// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#posts .calendar {
	border-collapse: collapse;
	width: 100%;


	th {

	width: 14.2856142857143%;
	
	}
	td {

	color: #777;
	height:80px;
	vertical-align: top;
	font-size: 16px;
	overflow: hidden;
	}
	.notmonth {color:#CCC;}
	.today {background-color:#D7F2FF;}
}

#posts #month {
	margin: 0;
	paddint-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	a {
	text-decoration: none;
	padding: 5px 10px;
	}

}
#posts ul {
	font-size: 11px;
	padding-left: 0px;
	list-style:none;
	padding-top: 4px;
}
a:visited {color:none!important}

#posts ul>li>a {
	color:#fff;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-overflow:clip;
}

#posts ul>li {
	background-color: #0497db;
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
	margin-bottom: 6px;
	text-overflow: ellipsis;
	max-width: 150px;
	line-height: 16px;
}
.pull-right a {color:#fff;}
.tableheader tr {
	
}
.autowidth {width:85%!important;}

#tabla_view th {
width: auto!important;
	
}

