// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#posts .calendar {
	border-collapse: collapse;
	width: 100%;


	th {

	width: 14.2856142857143%;
	
	}
	td {

	color: #777;
	height:80px;
	vertical-align: top;
	font-size: 12px;
	overflow: hidden;
	}
	.notmonth {color:#CCC;}
	.today {background-color:#D7F2FF;}
}

#posts #month {
	margin: 0;
	paddint-top: 10px;
	padding-bottom: 15px;
	text-align: center;
	a {
	text-decoration: none;
	padding: 5px 10px;
	}

}
#posts ul {
	font-size: 11px;
	padding-left: 0px;
	list-style:none;
	padding-top: 4px;
}
a:visited {color:none!important}

#posts ul>li>a {
	color:#fff;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-overflow:clip;
}

#posts ul>li {
	background-color: #0497db;
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
	margin-bottom: 6px;
	text-overflow: ellipsis;
	max-width: 150px;
	line-height: 16px;
}
#posts .notmonth ul>li {
	background-color: rgba(4, 151, 219, 0.5);;
}
.pull-right a {color:#fff;}
.tableheader tr {
	
}
.autowidth {width:85%!important;}

#tabla_view th {
width: auto!important;
	
}
.wspace {
	white-space: nowrap;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button{
    display: none;
}
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}
fieldset {
    min-width: 0; 
    width: 100%; 
}
.font12 {
	font-size: 12px;
}
.padleft0 {
	padding-left: 0px;
}
.padright0 {
	padding-right: 0px;
}
.marbot0 {
	margin-bottom: 0px
}
#mes {
	margin-bottom: 0px;
	margin-top:0px;
	padding: 4px 0 3px 0;
	color: #000;
}
